---
spring:
  profiles:
    group:
      local: common, locdb, loc
      dev: common, devdb, develop
      prod: common
---
spring:
  config:
    activate:
      on-profile: common
  pid:
    file: ./pid/hypergitPortal.pid
  mvc:
    hidden-method:
      filter:
        enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'rockgis@gmail.com'
    password: 'dldPwns!@09'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    hikari:
      type: com.zaxxer.hikari.HikariDataSource
    jpa:
      generate-ddl: false
      properties:
        hibernate:
          format_sql: true
      hibernate:
        connection:
          provider_class: com.zaxxer.hikari.hibernate.HikariConnectionProvider
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
          implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl

server:
  servlet:
    session:
      #      session delete when app restart
      persistent: false
      cookie:
        name: hypergit
        max-age: 3660
        http-only: true
  tomcat:
    basedir: .
    accesslog:
      enabled: true
      directory: logs
      prefix: access_log
      buffered: false
      suffix: .log
      file-date-format: .yyyy-MM-dd
  error:
    include-exception: true # 오류 응답에 exception의 내용을 포함할지 여부
    include-stacktrace: always # 오류 응답에 stacktrace 내용을 포함할 지 여부

logging:
  level:
    root: info
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
    com.zaxxer.hikari.HikariConfig: DEBUG
    com.zaxxer.hikari: trace
    org.thymeleaf: info

---
spring:
  config:
    activate:
      on-profile: production

---
spring:
  config:
    activate:
      on-profile: loc

server:
  port: 9091
  tomcat:
    accesslog:
      enabled: true
      directory: /dev
      prefix: stdout
      buffered: false
      suffix: ""
      file-date-format: ""

---
spring:
  config:
    activate:
      on-profile: develop
server:
  port: 9091
  tomcat:
    accesslog:
      enabled: true
      directory: /dev
      prefix: stdout
      buffered: false
      suffix: ""
      file-date-format: ""
---
spring:
  config:
    activate:
      on-profile: locdb
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hypergit?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: dldPwns!@09
    jpa:
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
      open-in-view: false
      show-sql: true

---
spring:
  config:
    activate:
      on-profile: devdb
  datasource:
    url: jdbc:mysql://10.200.101.15:3307/hypergit?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: rockgis
    password: dldPwns!@09
    driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
      database: mysql
---