---
spring:
  profiles:
    group:
      local: common, loc
      dev: common, develop
      prod: common
---
spring:
  config:
    activate:
      on-profile: common
  pid:
    file: ./pid/hypergitIdp.pid

server:
  servlet:
    session:
#      session delete when app restart
      persistent: false
      cookie:
        name: hypergit
        max-age: 3660
        http-only: true
  tomcat:
    basedir: .
    accesslog:
      enabled: true
      directory: logs
      prefix: access_log
      buffered: false
      suffix: .log
      file-date-format: .yyyy-MM-dd
management:
  endpoints:
    enabled-by-default: false
saml:
  idp:
    authUrl: /sso
    entityId: hypergitSaml
    expired: 300
    clockSkew: 300
    nameIDType: urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
    key:
      path: keys/saml.p12
      #    path: classpath:keys/saml.p12
      passphrase: test
      type: PKCS12
      alias: hypergit
    ssoBindings:
      - redirect
    sloBindings:
      - redirect

authdb:
  hikari:
    type: com.zaxxer.hikari.HikariDataSource
    idle-timeout: 10000
    maximum-pool-size: 10
    minimum-idle: 5
    pool-name: authenpool
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      connection:
        provider_class: com.zaxxer.hikari.hibernate.HikariConnectionProvider

logging:
  level:
    root: debug
    org:
      hibernate:
        SQL: debug
    com.zaxxer.hikari.HikariConfig: DEBUG
    com.zaxxer.hikari: trace
    org.thymeleaf: info

---
spring:
  config:
    activate:
      on-profile: production

---
spring:
  config:
    activate:
      on-profile: loc
  ldap:
    embedded:
      ldif: classpath:test.ldif
      base-dn: dc=springframework,dc=org
      port: 8389

server:
  port: 9090
  tomcat:
    accesslog:
      enabled: true
      directory: /dev
      prefix: stdout
      buffered: false
      suffix: ""
      file-date-format: ""

ad:
  url: ldap://10.200.101.19:389
  domain: GOODMIT.COM
  rootDn: OU=Users,OU=PlatformDivision,DC=GOODMIT,DC=COM

---
spring:
  config:
    activate:
      on-profile: develop
server:
  port: 9090

saml:
  idp:
    bindingAddress: saml91.goodmit.com
    key:
      path: keys/saml.p12
#      path: file:./keys/saml.p12
ad:
  url: ldap://10.200.101.19:389
  domain: GOODMIT.COM
  rootDn: OU=Users,OU=PlatformDivision,DC=GOODMIT,DC=COM

authdb:
  hikari:
    jdbc-url: jdbc:mysql://10.200.101.15:3307/hypergit
    username: rockgis
    password: dldPwns!@09
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: mysql
    properties:
      hibernate:
        format_sql: true
---