---
spring:
  profiles:
    group:
      local: common, loc
      dev: common, develop
      prod: common
---
spring:
  config:
    activate:
      on-profile: common
server:
  servlet:
    session:
#      session delete when app restart
      persistent: false
      cookie:
        name: hypergit
        max-age: 3660
        http-only: true

saml:
  idp:
    authUrl: /sso
    entityId: hypergitSaml
    expired: 300
    clockSkew: 300
    nameIDType: urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
    key:
      path: keys/saml.p12
      #    path: classpath:keys/saml.p12
      passphrase: test
      type: PKCS12
      alias: hypergit
    ssoBindings:
      - post
      - redirect
    slo-bindings:
      - post
      - redirect

logging:
  level:
    root: INFO
---
spring:
  config:
    activate:
      on-profile: production

---
spring:
  config:
    activate:
      on-profile: loc
  ldap:
    embedded:
      ldif: classpath:test.ldif
      base-dn: dc=springframework,dc=org
      port: 8389

server:
  port: 9090

ad:
  url: ldap://10.200.101.19:389
  domain: GOODMIT.COM
  rootDn: OU=Users,OU=PlatformDivision,DC=GOODMIT,DC=COM

---
spring:
  config:
    activate:
      on-profile: develop
server:
  port: 10010

---