server:
  servlet:
    session:
      #session delete when app restart
      persistent: false

saml:
  idp:
    authUrl: /sso
    entityId: hypergitSaml
    expired: 300
    clockSkew: 300
    keyUrl: /Users/drshin/work/goodmit/project/keys/saml.p12
    keyPassphrase: test
    keyType: PKCS12
    keyAlias: hypergit
    nameIDType: urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified

logging:
  level:
    root: info

---
spring:
  config:
    activate:
      on-profile: dev
server:
  port: 9090
---
spring:
  config:
    activate:
      on-profile: local
server:
  port: 10010
---